<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css" >
    </head>
    <body>

        <div class='main-content'>
            {{>header}}
            <p>This site was created by Aditya Rastogi. It used data from Mapbox And DarkSky.net </p>
        <img class='itachi' src="https://i.pinimg.com/736x/be/37/4e/be374e3663d124ca524d5522b3bc97c0.jpg" >
        
        </div>
    </body>
    {{>footer}}
</html>
