<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css" >
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <img class="help" src="/img/help.jfif">
        <p>{{helpText}}</p>
        
        </div>    
        {{>footer}}
    </body>
</html>
